{% extends 'base1.html' %}

{% block content %}
  <h1>소개페이지</h1>
<!-- 섹션 -->

<section class="container-fluid p-3 d-flex justify-content-between">
  <div class=" bg-secondary p-2 col-4 w-50">
      <div class="card-body">
        <h5 class="card-title">소개페이지</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  
    <div class="px-3 col-12">
      <div class="col-6 bg-warning p-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">은행탭</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>  
        
        <div class="col-6 bg-danger p-3 mt-3">
          <div class="card-body">
            <h5 class="card-title">주식탭</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
      </div>    
  </div>
</section>
{% endblock %}
