{% extends 'base1.html' %}
{% comment %} {% load static %} {% endcomment %}
{% block content %}
  <h1>홈페이지</h1>
<!-- 섹션 -->

<section class="container-fluid p-3 d-flex justify-content-between">
  <div class=" bg-secondary p-2 col-4 w-50">
    <div>
      <img src="./pp.assets/penny.png" alt="penny"  class="card-img-top">
      <img src="./pp.assets/pence.png" alt="pence"  class="card-img-top">
    </div>
      <div class="card-body">
        <h3 class="card-title">PennyPence에 오신걸 환영합니다.</h3>
        <br>
        <h5 class="card-subtitle mb-2 ">함께 금융에 대해 알아보아요.</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link text-decoration-none text-dark">Click Me!</a>
        {% comment %} <a href="#" class="card-link text-decoration-none">Another link</a> {% endcomment %}
      </div>
    </div>
  
    <div class="px-3 col-12">
      <div class="col-6 bg-warning p-3 mb-3">
        <div class="card-body">
          <h3 class="card-title">BANK</h3>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'bank:index' %}" class="card-link text-decoration-none text-dark">Click Me!</a>
          {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
        </div>
      </div>  
        
        <div class="col-6 bg-danger p-3 mt-3">
          <div class="card-body">
            <h3 class="card-title">STOCK</h3>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{% url 'stock:index' %}" class="card-link text-decoration-none text-dark">Click Me!</a>
            <a href="#" class="card-link text-decoration-none text-dark">모의주식해보기</a> 
          </div>
        </div>
    </div>
      </div>    
  </div>
</section>
{% endblock %}

