{% extends 'base1.html' %}

{% block content %}

{% comment %} <div class=" container text-center bg-info m-5">
  <div class="d-flex m-5">
    <div>
    <img src="./pp.assets/pence.png" class="m-3" style=" border: solid 2px gray;width: 150px; height: 180px;"
    >
    <a href="#">수정하기</a>
  </div>
  <div>
    <p style="margin-left: 30px; margin-top: 50px;"> 아이디: <br><br>닉네임: <br><br>이메일:</p>
  </div>
</div> {% endcomment %}

<div class="container-lg p-3 mt-5 d-flex justify-content-center">
  <div class="card p-4"> 
    <div class=" image d-flex flex-column justify-content-center align-items-center"> 
    <button class="btn btn-secondary"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHzj_fgNCL4uJoEJspoIwS6MpzwSDqpdeotQ&usqp=CAU" height="350" width="350" /></button> 
    <span class=" m-3">아이디 : 차은우</span> 
    <span class=" m-3">닉네임 : 최최차차</span> 
    <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
      <span class=" m-3">이메일 : 페니펜스@펜펜.com</span> 
      </div> 
    <div class="d-flex flex-row justify-content-center align-items-center m-3"> 
      우리가 함께 한지...00일</div> <div class=" d-flex m-2"> 
      <button class="btn btn-dark" href="#" >Edit Profile</button> </div> 
    </div>
</div>
{% endblock %}