{% extends 'base3.html' %}

{% block content %}

<div class="card-group">
    <div class="card m-3">
      <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">미국 증시가 우리나라 주식에 큰 영향을 끼치는 이유</h5>
        <p class="card-text">드랍 더 비트</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card m-3">
      <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">채권 너가 뭔데 날 울려</h5>
        <p class="card-text">우리나라 채권 사태에 대해 쉽게 정리보았어요!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card m-3">
      <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">왜 내 주식만 떡락할까?</h5>
        <p class="card-text">좋은 주식 종목 고르는 안목, 페니펜스가 알려줄게요!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

{% endblock %}