{% extends 'base3.html' %}

{% block content %}

<div class="card m-5">
    <div class="card-body">
      <a href="#">A</a>
      <a href="#">B</a>
      <a href="#">C</a>
      <a href="#">D</a>
      <a href="#">E</a>
      <a href="#">F</a>
      <a href="#">G</a>
      <a href="#">H</a>
      <a href="#">I</a>
      <a href="#">J</a>
      <a href="#">K</a>
      <a href="#">L</a>
      <a href="#">M</a>
    </div>

    <div class="card-body">
        <a href="#">ㄱ</a>
        <a href="#">ㄴ</a>
        <a href="#">ㄷ</a>
        <a href="#">ㄹ</a>
        <a href="#">ㅁ</a>
        <a href="#">ㅂ</a>
        <a href="#">ㅅ</a>
        <a href="#">ㅇ</a>
        <a href="#">ㅈ</a>
        <a href="#">ㅊ</a>
        <a href="#">ㅋ</a>
        <a href="#">ㅌ</a>
        <a href="#">ㅍ</a>
        <a href="#">ㅎ</a>
      </div>
</div>

<h3 class="'fw-bold m-5">인기 키워드별 검색어</h3>
<div class="card m-5">
    <div class="card-body">
        <span class="border border-2 rounded-pill p-2 m-3">NFT</span>
        <span class="border border-2 rounded-pill p-2 m-3">매도</span>
        <span class="border border-2 rounded-pill p-2 m-3">매수</span>
        <span class="border border-2 rounded-pill p-2 m-3">매각</span>
        <span class="border border-2 rounded-pill p-2 m-3">포트폴리오</span>
        <span class="border border-2 rounded-pill p-2 m-3">차익</span>
        <span class="border border-2 rounded-pill p-2 m-3">떡락</span>
        <span class="border border-2 rounded-pill p-2 m-3">영끌</span>
        <span class="border border-2 rounded-pill p-2 m-3">Wall-street</span>
        <span class="border border-2 rounded-pill p-2 m-3">워랜 버핏</span>
        <span class="border border-2 rounded-pill p-2 m-3">채권</span>
        <span class="border border-2 rounded-pill p-2 m-3">어음</span>
        <span class="border border-2 rounded-pill p-2 m-3">트래이딩</span>
    </div>
    <div class="card-body">
        <span class="border border-2 rounded-pill p-2 m-3">NFT</span>
        <span class="border border-2 rounded-pill p-2 m-3">매도</span>
        <span class="border border-2 rounded-pill p-2 m-3">매수</span>
        <span class="border border-2 rounded-pill p-2 m-3">매각</span>
        <span class="border border-2 rounded-pill p-2 m-3">포트폴리오</span>
        <span class="border border-2 rounded-pill p-2 m-3">차익</span>
        <span class="border border-2 rounded-pill p-2 m-3">떡락</span>
        <span class="border border-2 rounded-pill p-2 m-3">영끌</span>
        <span class="border border-2 rounded-pill p-2 m-3">Wall-street</span>
        <span class="border border-2 rounded-pill p-2 m-3">워랜 버핏</span>
        <span class="border border-2 rounded-pill p-2 m-3">채권</span>
        <span class="border border-2 rounded-pill p-2 m-3">어음</span>
        <span class="border border-2 rounded-pill p-2 m-3">트래이딩</span>
    </div>
    <div class="card-body">
        <span class="border border-2 rounded-pill p-2 m-3">NFT</span>
        <span class="border border-2 rounded-pill p-2 m-3">매도</span>
        <span class="border border-2 rounded-pill p-2 m-3">매수</span>
        <span class="border border-2 rounded-pill p-2 m-3">매각</span>
        <span class="border border-2 rounded-pill p-2 m-3">포트폴리오</span>
        <span class="border border-2 rounded-pill p-2 m-3">차익</span>
        <span class="border border-2 rounded-pill p-2 m-3">떡락</span>
        <span class="border border-2 rounded-pill p-2 m-3">영끌</span>
        <span class="border border-2 rounded-pill p-2 m-3">Wall-street</span>
        <span class="border border-2 rounded-pill p-2 m-3">워랜 버핏</span>
        <span class="border border-2 rounded-pill p-2 m-3">채권</span>
        <span class="border border-2 rounded-pill p-2 m-3">어음</span>
        <span class="border border-2 rounded-pill p-2 m-3">트래이딩</span>
    </div>
    <div class="card-body">
        <span class="border border-2 rounded-pill p-2 m-3">NFT</span>
        <span class="border border-2 rounded-pill p-2 m-3">매도</span>
        <span class="border border-2 rounded-pill p-2 m-3">매수</span>
        <span class="border border-2 rounded-pill p-2 m-3">매각</span>
        <span class="border border-2 rounded-pill p-2 m-3">포트폴리오</span>
        <span class="border border-2 rounded-pill p-2 m-3">차익</span>
        <span class="border border-2 rounded-pill p-2 m-3">떡락</span>
        <span class="border border-2 rounded-pill p-2 m-3">영끌</span>
        <span class="border border-2 rounded-pill p-2 m-3">Wall-street</span>
        <span class="border border-2 rounded-pill p-2 m-3">워랜 버핏</span>
        <span class="border border-2 rounded-pill p-2 m-3">채권</span>
        <span class="border border-2 rounded-pill p-2 m-3">어음</span>
        <span class="border border-2 rounded-pill p-2 m-3">트래이딩</span>
    </div>
    <div class="card-body">
        <span class="border border-2 rounded-pill p-2 m-3">NFT</span>
        <span class="border border-2 rounded-pill p-2 m-3">매도</span>
        <span class="border border-2 rounded-pill p-2 m-3">매수</span>
        <span class="border border-2 rounded-pill p-2 m-3">매각</span>
        <span class="border border-2 rounded-pill p-2 m-3">포트폴리오</span>
        <span class="border border-2 rounded-pill p-2 m-3">차익</span>
        <span class="border border-2 rounded-pill p-2 m-3">떡락</span>
        <span class="border border-2 rounded-pill p-2 m-3">영끌</span>
        <span class="border border-2 rounded-pill p-2 m-3">Wall-street</span>
        <span class="border border-2 rounded-pill p-2 m-3">워랜 버핏</span>
        <span class="border border-2 rounded-pill p-2 m-3">채권</span>
        <span class="border border-2 rounded-pill p-2 m-3">어음</span>
        <span class="border border-2 rounded-pill p-2 m-3">트래이딩</span>
    </div>
</div>

{% endblock %}