{% extends 'base3.html' %}

{% block content %}

<div class="card m-5">
    <div class="card-body">
      <a href="#">A</a>
      <a href="#">B</a>
      <a href="#">C</a>
      <a href="#">D</a>
      <a href="#">E</a>
      <a href="#">F</a>
      <a href="#">G</a>
      <a href="#">H</a>
      <a href="#">I</a>
      <a href="#">J</a>
      <a href="#">K</a>
      <a href="#">L</a>
      <a href="#">M</a>
    </div>

    <div class="card-body">
        <a href="#">ㄱ</a>
        <a href="#">ㄴ</a>
        <a href="#">ㄷ</a>
        <a href="#">ㄹ</a>
        <a href="#">ㅁ</a>
        <a href="#">ㅂ</a>
        <a href="#">ㅅ</a>
        <a href="#">ㅇ</a>
        <a href="#">ㅈ</a>
        <a href="#">ㅊ</a>
        <a href="#">ㅋ</a>
        <a href="#">ㅌ</a>
        <a href="#">ㅍ</a>
        <a href="#">ㅎ</a>
      </div>
</div>

<!-- 임시 작성 버튼 -->
<div class="container mt-3">
    <a class="btn btn-primary my-3 float-end" href="{% url 'stock:create' %}">New Posting</a>
    <br>
</div>


<h3 class="fw-bold m-5">인기 키워드별 검색어</h3>
<div class="card m-5">
    {% for article in articles %}
    <div class="card-body">
        <button type="btn" onclick="location.href='{% url 'stock:word' article.pk %}'" class="border border-2 rounded-pill p-2 m-3">{{ article.title }}</button>
    </div>
    {% endfor %}
</div>
{% endblock %}    
