{% extends 'base2.html' %}
{% block content %}
  <div class="row m-2">
    <div class="col-4 mb-2">
      <div class="card" style="width: 18rem border-radius 1rem;">
        <img src="..." class="card-img-top" alt="..." width="400" height="300">
        <div class="card-body">
          <h5 class="card-title">은행 금리는 왜 이런가?</h5>
          <p class="card-text">미친 금리 어떻게 잡을것인가</p>
          <p></p>
          <a href="#" class="btn btn-outline-warning my-3">자세히 보기</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}