{% extends 'base2.html' %}
{% block content %}
  <div class="m-4">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning" type="submit">Search</button>
    </form>
  </div>
  <h3 class="'fw-bold m-5">인기 키워드별 검색어</h3>
  <div class="card m-5">
    <div class="card-body">
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">예금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">적금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연말정산</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">환율</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
    </div>
    <div class="card-body">
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">예금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">적금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연말정산</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">환율</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
    </div>
    <div class="card-body">
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">예금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">적금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연말정산</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">환율</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
    </div>
    <div class="card-body">
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">예금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">적금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연말정산</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">환율</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
    </div>
    <div class="card-body">
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">예금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">적금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연말정산</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">환율</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
      <a href="#" class="border border-2 rounded-pill p-2 m-3">연금</a>
    </div>
  </div>
{% endblock %}