{% extends 'base2.html' %}

{% block content %}
  <!-- 섹션 -->

  <section class="container-fluid p-3 d-flex justify-content-between">
    <div class=" bg-light p-2 col-4 w-50">
      <h2 class="card-body fw-bold my-5 text-back text-center">오늘의 금융 용어</h2>
    </div>

    <div class="px-3 col-12">
      <div class="col-6 bg-light p-3 mb-3">
        <div class="card-body">
          <h5 class="card-title m-4">은행 용어</h5>
          <a href="#" class="card-link m-4">자세한 설명</a>
        </div>
      </div>

      <div class="col-6 bg-light p-3 mt-3">
        <div class="card-body">
          <h5 class="card-title m-4">연관 용어</h5>
          <a href="#" class="card-link m-4">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}